In [49]:
class Student:
    def __init__(self, name, surname, no, lesson, vizePuani, finalPuani, sonuc, passExam):
        self.name = name
        self.surname = surname
        self.no = no
        self.lesson = lesson
        self.midterm_exam = midterm_exam
        self.final_exam = final_exam
        self.success= success
        self.passExam= passExam

In [50]:
student_list=[]

In [51]:
name = input("Öğrenci Adı: ")
surname = input("öğrenci Soyadı: ")
student_no = input("Öğrenci Numarası:")
lesson = input("Öğrenci Dersi: ")
midterm_exam= input("Vize Puanı:")
final_exam= input("Final Puanı:")

Öğrenci Adı: ayşe
öğrenci Soyadı: yılmaz
Öğrenci Numarası:34
Öğrenci Dersi: mat
Vize Puanı:43
Final Puanı:89

In [52]:
success = int(midterm_exam)*(4/10) + int(final_exam)*(6/10)

In [53]:
if(success >=90):
    print("Harf Notu: AA")
elif(success>=85):
    print("Harf Notu: BA")
elif(success>=80):
    print("Harf Notu: BB")
elif(success>=75):
    print("Harf Notu: CB")
elif(success>=70):
    print("Harf Notu: CC")
elif(success>=65):
    print("Harf Notu: DC")
elif(success>=60):
    print("Harf Notu: DD")
elif(success>=55):
    print("Harf Notu: FF")
print ("Ortalama") 
print (success)

Harf Notu: CC
Ortalama
70.6

In [54]:
print("Sonuç :{0} ".format(success))
if(success<50):
    print("Kaldınız")
    passExam = "Kaldınız"
else:
    print("Geçtiniz")
    passExam = "Geçtiniz"

Sonuç :70.6
Geçtiniz

In [55]:
student_list.append(Student(name, surname, student_no, lesson, midterm_exam, final_exam, success, passExam))

In [56]:
for student in student_list:
    print('Name: {}, Surname: {}'.format(student.name, student.surname))

Name: ayşe, Surname: yılmaz

In [57]:
#vize = input("Vize:")
#Final = input("Final:")

In [58]:
print(student_list)

[<__main__.Student object at 0x7faeb800ee80>]

In [59]:
import pandas as pd

In [60]:
df = pd.DataFrame(student_list)
print(df)

                                             0
0  <__main__.Student object at 0x7faeb800ee80>

In [61]:
df = pd.DataFrame([t.__dict__ for t in student_list ])

In [62]:
df

   name surname  no lesson midterm_exam final_exam  success  passExam
0  ayşe  yılmaz  34    mat           43         89     70.6  Geçtiniz

In [63]:
student_list[0].name

'ayşe'

In [64]:
import openpyxl

In [48]:
df.to_excel("ogrenci_listesi1.xlsx")

In [36]:
df.to_excel('pandas_to_excel.xlsx', sheet_name='ogrenci_listesi')